absl-py==2.1.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse==1.6.3
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
Bottleneck
Brotli
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
flatbuffers==24.3.25
fonttools
gast==0.6.0
google==3.0.0
google-pasta==0.2.0
grpcio==1.67.0
h11
h5py==3.12.1
httpcore
httpx
idna
importlib-metadata
importlib_resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib==1.4.2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.6.0
kiwisolver
libclang==18.1.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mdurl==0.1.2
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes==0.3.2
namex==0.0.8
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
opt_einsum==3.4.0
optree==0.13.0
overrides
packaging
pandas==1.4.4
pandocfilters
parso
patsy==0.5.6
pexpect
pickleshare
pillow
platformdirs
plotly
ply==3.11
prometheus-client
prompt-toolkit
protobuf==4.25.5
psutil
ptyprocess
pure-eval
pyarrow
pycparser
Pygments
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rich==13.9.2
rpds-py
scikit-learn==1.5.2
scipy==1.13.1
seaborn
Send2Trash
sip
six
sniffio
soupsieve
stack-data
statsmodels==0.14.4
tenacity
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
#                                  tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.5.0
terminado
threadpoolctl==3.5.0
tinycss2
tomli
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
utils==1.0.2
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.4
widgetsnbextension
wrapt==1.16.0
xlrd
zipp
